.wrapper {
  margin-bottom: 20px;
  & img {
    border-radius: 8px;
    margin-bottom: 8px;
    min-width: 227px;
    min-height: 340px;
  }
  & p {
    color: #f1faee;
    font-size: 18px;
    font-weight: 700;
  }
  & small {
    color: #f1faee99;
  }
}
