@import '../../../../css/_variables';

.accordionText {
  display: flex;
  align-items: center;
  gap: 4px;
  & > p {
    font-weight: 700;
    font-size: 18px;
    color: $color-text-white;
  }

  & svg {
    width: 28px;
    height: 28px;
    color: $color-text-white;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
