@import '../../../../css/_variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__infoWrapper {
    cursor: pointer;
  }
  &__nameMovie {
    color: $color-text-white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
  }
  &__nameMovieOriginal {
    color: $color-text-white;
    font-size: 16px;
  }
  &__description {
    color: $color-grey;
    font-size: 14px;
  }
}
