.title {
  color: #f1faee;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
}

@media (max-width: 520px) {
  .wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
