@import '../../../css/_variables';

.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
  &__logo {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    & p {
      color: $color-text-white;
      font-weight: 700;
      padding: 15px;
      font-size: 26px;
      & span {
        color: $color-red;
      }
    }
  }

  & svg {
    cursor: pointer;
    color: $color-red;
    width: 30px;
    height: 30px;
  }
  &__wrapperIcons {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 520px) {
  .bar {
    justify-content: center;
    margin-bottom: 20px;
    &__wrapperIcons {
      padding: 10px;
      width: 100%;
      border-top: 1px solid $color-border-grey;
      background-color: $color-background;
      display: flex;
      justify-content: space-around;
      position: fixed;
      top: calc(100vh - 58px);
      z-index: 10;
    }
  }
}
