.bar {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
  &__logo {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    & p {
      color: #f1faee;
      font-weight: 700;
      padding: 15px;
      font-size: 26px;
      & span {
        color: #e63946;
        & sup {
          font-weight: 400;
          padding-left: 6px;
          font-size: 10px;
        }
      }
    }
  }

  & svg {
    cursor: pointer;
    color: #e63946;
    width: 30px;
    height: 30px;
  }
  &__wrapperIcons {
    display: flex;
    gap: 16px;
  }
}
