@import '../../../css/_variables';

.bar {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    color: $color-text-white;
    font-weight: 700;
    padding: 15px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    & svg {
      color: $color-red;
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 520px) {
  .bar {
    padding: 0 15px;
    margin-bottom: 58px;
  }
}
