@import '../../../css/_variables';

.wrapper {
  margin-bottom: 20px;

  &__poster {
    position: relative;
    &:hover > .wrapper__icons > svg {
      opacity: 1;
      scale: 1;
      transition: all 0.2s ease-in-out;
    }
    &:hover .wrapper__hoverInfo {
      opacity: 1;
      scale: 1;
      transition: all 0.2s ease-in-out;
    }
    & > img {
      border-radius: 8px;
      margin-bottom: 8px;
      min-width: 227px;
      min-height: 340px;
      transition: all 0.2s ease-in-out;
    }
    &:hover > img {
      transition: all 0.2s ease-in-out;
      filter: brightness(10%);
      scale: 1.03;
    }
  }

  &__icons {
    & > svg {
      position: absolute;
      z-index: 3;
      top: 8px;
      right: 8px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: $color-text-white;
      opacity: 0;
      scale: 0.5;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $color-red;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__hoverInfo {
    position: absolute;
    z-index: 3;
    bottom: 8px;
    left: 8px;
    opacity: 0;
    scale: 0.5;
    transition: all 0.2s ease-in-out;

    & > h3 {
      color: $color-text-white;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 6px;
      & > span {
        color: $color-red;
      }
    }

    & > p {
      font-weight: 400;
      color: $color-grey;
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      & > span {
        font-weight: 700;
        color: $color-text-white;
      }
    }
  }

  & > p {
    color: $color-text-white;
    word-break: break-word;
    font-size: 18px;
    font-weight: 700;
  }
  & > small {
    color: $color-grey;
  }
}
