.wrapper {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 47px);

  &__video {
    display: block;
    width: 100% !important;
    height: 100% !important;

    iframe {
      height: 100% !important;
    }
  }
}
